@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

header.main-header {
  background: #4A90E2;
  display: flex;
  justify-content: center;
}

header.main-header div.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  height: 45px;
  padding: 0 42px;
  min-width: 980px;
}

header.main-header div.header img {
  height: 24px;
}

header.main-header div.header div.user span {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: border;
}

header.main-header div.header div.user {
  display: flex;
  align-items: center;
}

header.main-header div.header div.user i {
  margin-left: 8px;
}

div.timeline {
  display: flex;
  justify-content: center;
  min-width: 500px;
  margin: 0 300px 0 300px;
}

div.timeline li {
  list-style: none;
}

div.timeline li .post {
  display: flex;
  flex-direction: column;

  background: #FFF;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .17);
  margin-top: 20px;
}

div.timeline li .post .profile {
  display: flex;
}

div.timeline li .post .profile img {
  width: 48;
  height: 48px;
  border-radius: 50%;
}

div.timeline li .post .profile .info {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

div.timeline li .post .profile .info h1 {
  font-size: 15px;
}

div.timeline li .post .profile .info span {
  font-size: 12px;
  opacity: 70%;
}

div.timeline li .post .post-text {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
}

div.timeline li .post .comment {
  display: flex;
  background: #EEEEEE;
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px;
}

div.timeline li .post .comment img {
  width: 38px;
  height: 38px;
  border-radius: 50%;

  flex-shrink: 0;
}

div.timeline li .post .comment span {
  font-size: 13px;
  margin-left: 10px;
}